*.user
*.suo
$tf
dist
coverage
www
bin/
obj/
packages/
node_modules/
bower_components/
tmp/
.sass-cache/
.tmp/
.vs
App_Data/
ProjectSource/Source/HubAPI/TestResults/
ProjectSource/Source/HubUI/reports/
ProjectSource/Source/SmartScaffolderCoreJs/reports/
ProjectSource/Source/HubAPI/SSE.Hub.Common/KeyVault/KeyVaultApi.cs
ProjectSource/Source/SmartScaffolderCoreNew/dist/*
ProjectSource/Source/SmartScaffolderCoreNew/coverage/*
ProjectSource/Source/SmartScaffolderCommon/package.json
ProjectSource/Source/SmartScaffolderCommon/Gruntfile.js
ProjectSource/Source/SmartScaffolderCommon/bower.json
.vscode